NODE_ENV=development
PORT=3005

JWT_ACCESS_SECRET=CHANGE_THIS_TO_A_64_CHAR_RANDOM_STRING_ACCESS_SECRET_KEY_HERE_1234

INTERNAL_SERVICE_KEY=CHANGE_THIS_INTERNAL_SERVICE_SECRET

AUTH_SERVICE_URL=http://localhost:3001
FINANCE_SERVICE_URL=http://localhost:3002
POLICY_SERVICE_URL=http://localhost:3003
AI_SERVICE_URL=http://localhost:3004

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=200
